<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Create New Office</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container p4 m4">
    <h1>Create New Office ::</h1>
    <hr>
    <form action="/offices/create-office" method="post">
        Office Code: <input type="text" name="officeCode" /><br>
        City: <input type="text" name="city" /><br>
        Phone#: <input type="text" name="phone" /><br>
        Address: <input type="text" name="addressLine1" /><br>
        Country: <input type="text" name="country" /><br>
        Postal Code: <input type="text" name="postalCode" /><br>
        <input type="hidden" name="territory" value="NA" />
        <hr>
        <input type="submit" value="Save" />
    </form>
    <hr>
    <a href="/offices/all">
        <button>Back</button>
    </a>
</div>
</body>
</html>